name: JHipster CI-CD

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  pipeline:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'

      - name: Make mvnw executable
        run: chmod +x mvnw

      # Đã sửa tên biến cho khớp với ảnh image_120ffb.png
      #ggg
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        run: |
          ./mvnw package -Pprod verify jib:build \
          -Djib.to.image=docker.io/masterhuthiu/jhipster-win \
          -DskipTests
      - name: Trigger OpenShift via Authenticated API
        run: |
          curl -X POST -k \
            -H "Authorization: Bearer ${{ secrets.OPENSHIFT_TOKEN }}" \
            -H "Content-Type: application/json" \
            -d '{"action": "redeploy"}' \
            "https://api.rm2.thpm.p1.openshiftapps.com:6443/apis/build.openshift.io/v1/namespaces/cosa199212-dev/buildconfigs/jhipster-deploy-trigger/webhooks/123456789/generic"
