name: JHipster CI-CD

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  pipeline:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'

      - name: Make mvnw executable
        run: chmod +x mvnw

      # Bước này sẽ dùng Secrets bạn vừa tạo ở Bước 1
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        run: |
          ./mvnw package -Pprod verify jib:build \
          -Djib.to.image=docker.io/masterhuthui/jhipster-win \
          -DskipTests

# Trigger build lại
# Re-run pipeline after fixing secrets.
