name: JHipster CI-CD

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  pipeline:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'

      - name: Make mvnw executable
        run: chmod +x mvnw

      # Đã sửa tên biến cho khớp với ảnh image_120ffb.png
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        run: |
          ./mvnw package -Pprod verify jib:build \
          -Djib.to.image=docker.io/masterhuthiu/jhipster-win \
          -DskipTests
      - name: Trigger OpenShift CD via Webhook
        run: |
          # Bạn dùng lệnh curl để bấm chuông OpenShift
          # Thêm -k để bỏ qua kiểm tra chứng chỉ SSL nếu cần
          curl -X POST -k "https://api.rm2.thpm.p1.openshiftapps.com:6443/apis/build.openshift.io/v1/namespaces/cosa199212-dev/buildconfigs/jhipster-deploy-trigger/webhooks/123456789/generic"
      - name: Deploy to OpenShift
        run: |
          # Cài đặt oc client
          curl -L https://mirror.openshift.com/pub/openshift-v4/clients/ocp/latest/openshift-client-linux.tar.gz | tar -xz
          sudo mv oc /usr/local/bin/

          # Thực hiện login và deploy
          oc login --token=${{ secrets.OPENSHIFT_TOKEN }} --server=https://api.rm2.thpm.p1.openshiftapps.com:6443 --insecure-skip-tls-verify

          # Chọn đúng dự án (namespace) của bạn
          oc project cosa199212-dev

          # Restart ứng dụng để kéo image mới
          oc rollout restart deployment/jhipster-gateway

          # Theo dõi trạng thái
          oc rollout status deployment/jhipster-gateway
