name: Deploy to K8s
on:
  push:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build with Maven
        run: ./mvnw package -Pprod verify jib:dockerBuild -DskipTests
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Push Image
        run: |
          docker tag jhipsterwin ${{ secrets.DOCKER_USERNAME }}/jhipsterwin:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/jhipsterwin:latest
